@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

body {
  height: 100%;
  font-size: 17px;
  font-family: Bai Jamjuree;
  margin: 0;
  padding: 0;
  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.logo-svg {
  width: 80px;
  height: 80px;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}

span {
  color: hsl(201, 11%, 66%);
}
.centered--paragraph {
  text-align: center;
}

.button-wrapper {
  display: flex;
  gap: 15px;
}

.button1 {
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: hsl(171, 66%, 44%);
  color: white;
  font-family: Bai Jamjuree;
  margin-top: 40px;
  box-shadow: hsl(171, 66%, 44%) 0px 4px 10px;
}

.button2 {
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: hsl(233, 100%, 69%);
  color: white;
  font-family: Bai Jamjuree;
  margin-top: 40px;
  box-shadow: hsl(233, 100%, 69%) 0px 4px 10px;
}

.image-computer {
  position: relative;
  right: 33px;
}

.footer-text {
  color: hsl(210, 10%, 33%);
}
